{% extends 'base.html' %}
{% block title %} OwnAssistant {% endblock %}
{% load static %}
<!--{% block scriptInjection %} <script src="{% static 'registerFormController.js' %}"></script> {% endblock %}-->


{% block content %}
<link rel="stylesheet" href="static/css/newAssistantPage.css">
<br />


<div class="card blindCard shadow p-3 mb-5 bg-white rounded">
  <div class="card-body customCard">
    <form id="formId" class="formClass">
      <div class="mb-3">
        <label for="assistantTypeInput" class="form-label fw-lighter">Type of your assistant</label>
        <br />
        <select class="selectpicker" id="assistantTypeInput" data-width="100%" onchange="changeAssistantType()">
          <option value="none"> </option>
          <option value="Formal">Formal</option>
          <option value="Casual">Casual</option>
          <option value="Friend">Friend</option>
          <option value="Boss">Boss</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="genderAssistantInput" class="form-label fw-lighter">Gender of your assistant</label>
        <br />
        <select class="selectpicker" id="genderAssistantInput" data-width="100%">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
            <div class="mb-3">
        <label for="genderAssistantInput" class="form-label fw-lighter">Language of your assistant</label>
        <br />
        <select class="selectpicker" id="languageInput" data-width="100%">
          <option value="Polish">Polish</option>
          <option value="English">English</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="nameOfAssistantInput" class="form-label fw-lighter">Name of your assistant</label>
        <input class="form-control" id="nameOfAssistantInput" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="mainGoalInput" class="form-label fw-lighter">Main goals for assistant</label>
        <textarea class="form-control" id="mainGoalInput" rows="3"></textarea>
      </div>
      <div class="text-center">
        <button id='buttonToSubmit' type="button" class="btn btn-secondary" onclick="submitForm()">Create new assistant
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Missing coins</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="missingMoney fade-out" style="opacity:0.8">
                  <div class="text-center">
                    <img src="/static/images/money_image.png" style="width:25%; height:25%; opacity:0.8" />
                    <br />Please first get some coins to continue story!
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirm!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="historyBody">
    </div>
    <div style="display: none!important" class="loader d-flex justify-content-center">

<!--      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module">-->
<!--      </script>-->
<!--      <dotlottie-player src="https://lottie.host/b3270445-6428-4b0a-ab2d-90a096aa4336/ERcvP0bUnc.json"-->
<!--        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>-->


      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    <dotlottie-player src="https://lottie.host/5a675848-c61e-4c54-988b-7e5888b3e9bf/rxFt9BKUJB.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
  </div>
</div>
<div id="infoAfterSave">
  <h2 class="fw-lighter"></h2>
</div>

<script src="{% static 'newAssistantController.js' %}"></script>

{% endblock %}