{% extends 'base.html' %}
{% block title %} OwnStory {% endblock %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static '/css/assistantPage.css' %}">
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">

      <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active" role="tab" onclick="customNavigateToBasicInformation('basicInfoTab')">Basic information</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" onclick="customNavigateToBasicInformation('knowledgeBaseTab')" role="tab">Knowledge base</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" onclick="customNavigateToBasicInformation('chatAndTeachTab')" role="tab">Chat and teach</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" onclick="customNavigateToBasicInformation('testChatTab')" role="tab">Test chat</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" onclick="customNavigateToBasicInformation('historyTab')" role="tab">History</a>
      </div>
    </div>
  </nav>

<br/>

<p class="mb-0 titleStory" style="opacity: 0.8">Context - Assistant Marcin</p>
<div class="tab-content">







  <div class="tab-pane fade show active" id="basicInformationTab" role="tabpanel">
      <div class="card blindCard shadow p-3 mb-5 bg-white rounded">
        <div class="card-body customCard">
          <div class="historyBody">
            <blockquote class="blockquote text-center">
              <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/static/images/robotIcon.png" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3 ">Name: <span class="nameOfAssistant"></span></h5>
            <p class="text-muted mb-1 ">Language: <span class="langOfAssistant"></span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 ">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 nameOfAssistant">Name</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 genderOfAssistant">Gender of assistant</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Type</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 typeOfAssistant"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Main goals</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 mainGoalsOfAssistant">Main goal of assistant</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Owner</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 ownerOfAssistant">Marcin Garbarczyk</p>
              </div>
            </div>
          </div>
        </div>



            </blockquote>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>


<script src="{% static '/assistantSubTabControllers/basicInfoTabController.js' %}"></script>

{% endblock %}